* {box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Libre Franklin', 'Helvetica Neue', 'Arial', sans-serif;
	}

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 700px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 1024px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

body { 
	font-size: 16px;
	line-height: 28px;
	color: #000;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

/* Homepage styling */

.main {
	position: relative;
	min-height: 100vh;
	overflow: auto;
	font-weight: 300;
	z-index: 100;
}


	#home-content {
		height: 100vh;
    	background: #fff;
	}

	.introheading {
		padding: 4vw 4vw 3vw;
		background: #fff;
		color: #000;
		letter-spacing: 0.01em;
		}

	.introheading p {
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
	}

	.introtext {
		padding: 0vw 15vw 15vw 4vw;
		background: #fff;
		color: #000;
		letter-spacing: 0.02em;
		font-size: 20px;
		line-height: 36px;
		font-weight: 300;
	}

	.introtext p {
		padding-bottom: 1.5vw;
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
	}



	.links {
		position: fixed;
		bottom: 0;
		padding: 2vw 4vw;
	}

		.links a:link, .links a:visited {
			display: block;
			color: #000; 
			letter-spacing: 0.05em;
			border-bottom: 1px solid #000;
			text-decoration: none; 
		}

		.links a:hover {
			display: block;
			color: #000; 
			background: #F8FFA0;
			letter-spacing: 0.05em;
			border-bottom: 1px solid #000;
		}

	.contents {
		min-height: 100vh;
		padding:4vw 4vw 3vw;
    	background: rgb(105 251 248);
		background: linear-gradient(325deg, rgb(255 121 121) 0%, rgb(105 251 248) 100%);
		border-left: 1px solid #000;
	}

		.contents h1 {
			color: #000;
			letter-spacing: 0.03em;
			margin-top: 0;
			padding-bottom: 3vw;
			font-size: 16px;
			line-height: 30px;
			font-weight: 300;
			-webkit-margin-before: 0;
			-webkit-margin-after: 0;
		}

		.contents h2 {
			letter-spacing: 0.05em;
			margin-top: 0;
			padding-bottom: 1.5vw;
			font-size: 18px;
			line-height: 30px;
			font-weight: 300;
			-webkit-margin-before: 0;
			-webkit-margin-after: 0;
		}

		.contents h2 a:link, .contents h2 a:visited {
		color: #000; 
		text-decoration: none; 
		margin-top: 0;
		border-bottom: 1px solid #000;
	    padding: 2px 0px 2px 0px;
		position: relative;
		}

		.contents h2 a:hover {
			color: #000; 
			margin-top: 0;
			text-decoration: none; 
			border-bottom: 1px solid #000;
			background: #F8FFA0; 
			position: relative;
		}


/* ToC images */

img {-webkit-box-shadow: 0px 0px 12px 6px rgba(210,189,255,1);-moz-box-shadow: 0px 0px 12px 6px rgba(210,189,255,1);box-shadow: 0px 0px 8px 4px rgb(173 195 195 / 83%);}

#contents-image-1 {
   position: absolute;
   display: block;
   margin: 0;
   top: 14vh;
   left: 3vw;
}

#contents-image-1 img{
	max-width: 13vw;
}

#contents-image-2 {
	position: absolute;
	display: block;
	margin: 0;
	top: 12vh;
	left: 19vw;
}

#contents-image-2 img{
	max-width: 11vw;
}

#contents-image-3 {
	position: absolute;
	display: block;
	margin: 0;
	top: 12.5vh;
	left: 33vw;
}

#contents-image-3 img{
	max-width: 10.5vw;
}

#contents-image-4 {
	position: absolute;
	display: block;
	margin: 0;
	top: 11.5vh;
	left: 46.75vw;
}

#contents-image-4 img{
	max-width: 11vw;
}


#contents-image-5 {
	position: absolute;
	display: block;
	margin: 0;
	top: 12vh;
	left: 61vw;
}

#contents-image-5 img{
	max-width: 11vw;
}

#contents-image-6 {
	position: absolute;
	display: block;
	margin: 0;
	top: 55vh;
	left: 3.5vw;
}

#contents-image-6 img{
	max-width: 11vw;
}

#contents-image-7 {
	position: absolute;
	display: block;
	margin: 0;
	top: 55vh;
	left: 17.75vw;
}

#contents-image-7 img{
	max-width: 11vw;
}

#contents-image-8 {
	position: absolute;
	display: block;
	margin: 0;
	top: 55vh;
	left: 32vw;
}

#contents-image-8 img{
	max-width: 11.5vw;
}

#contents-image-9 {
	position: absolute;
	display: block;
	margin: 0;
	top: 57vh;
	left: 46.5vw;
}

#contents-image-9 img{
	max-width: 11vw;
}

#contents-image-10 {
	position: absolute;
	display: block;
	margin: 0;
	top: 55.5vh;
	left: 60.5vw;
}

#contents-image-10 img{
	max-width: 11.5vw;
}


/* ToC images end */


/* Archival iframe styling */

.intro {
	width: 100vw;
	height: 100vh;
	text-align: center;
	font-size: 18px;
	color: #000;
	display: table-cell;
    vertical-align: middle;
    background: rgb(105 251 248);
	background: linear-gradient(325deg, rgb(255 121 121) 0%, rgb(105 251 248) 100%);
    line-height: 30px;
}

.archive {
	height: 100vh;
}

	.archive iframe {
		height: 100vh;
		border: 0;
	}


/* Single content pages styling */

.main-content {
	position: relative;
	min-height: 100vh;
	overflow: auto;
	border-right: 1px solid #000;
	padding: 2vw 2vw;
	background: #fff;
	color: #000;
	min-height: 100vh;
	z-index: 1024;
}

	.main-content h1 {
		letter-spacing: 0.05em;
    	color: #000;
    	font-size: 22px;
    	line-height: 30px;
    	font-weight: 600;
    	padding-bottom: 2vw;
    	-webkit-margin-before: 0;
		-webkit-margin-after: 0;

	}

	.main-content p {
		letter-spacing: 0.02em;
		color: #000;
		margin-top: 0;
		padding-bottom: 1vw;
		font-size: 18px;
		line-height: 28px;
		font-weight: 300;
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
	}


	.main-content p a:link, a:visited {
	color: #000; 
	text-decoration: none; 
	border-bottom: 1px solid #000;
    position: relative;
	}

	.main-content p a:hover, .main-content p a:active {
	color: #000; 
	text-decoration: none; 
	border-bottom: 1px solid #000;
	background: #F8FFA0; 
	position: relative;
	}

	.index {
	position: fixed;
	bottom: 0;
	padding-bottom: 2vw;
	}


	.index a:link, .index a:visited {
		display: block;
		color: #000; 
		border-bottom: 1px solid #000;
		text-decoration: none; 
	}

	.index a:hover {
		display: block;
		color: #000; 
		background: #F8FFA0;
		border-bottom: 1px solid #000;
		text-decoration: none; 
	}
	.index a:before {
			content: '← ';
		}

/* More info styling */

.plaintext {
	padding: 4vw 4vw 2vw;
	background: #fff;
	color: #000;
	letter-spacing: 0.02em;
}

	.plaintext a:link, a:visited {
			color: #000; 
			border-bottom: 1px solid #000;
			text-decoration: none; 
		}

		.plaintext a:hover {
			color: #000; 
			background: #F8FFA0;
			border-bottom: 1px solid #000;
		}

/* Media queries */

@media only screen and (min-width: 1600px) {
	body {
	font-size: 18px;
	line-height: 32px;
	} 
	.contents h1{
	font-size: 18px;
	line-height: 30px;	
	}
	.contents h2{
	font-size: 20px;
	line-height: 30px;
	}
	.main-content h1{
	font-size: 22px;
	line-height: 30px;
	}
	.main-content p{
	font-size: 18px;
	line-height: 30px;
	}
	.introtext p{
	font-size: 22px;
	line-height: 42px;
	}
}


@media only screen and (max-width: 1440px) {
	body {
	font-size: 14px;
	line-height: 24px;
	} 
	.contents h1{
	font-size: 14px;
	line-height: 24px;	
	}
	.contents h2{
	font-size: 16px;
	line-height: 24px;
	}
	.main-content h1{
	font-size: 18px;
	line-height: 24px;
	}
	.main-content p{
	font-size: 16px;
	line-height: 24px;
	}
	.introtext p{
	font-size: 18px;
	line-height: 30px;
	}
	.introtext {
	padding: 0vw 4vw 15vw 4vw;
	}
}

@media only screen and (max-width: 700px) {
	body {
	font-size: 12px;
	line-height: 18px;
	} 
	.contents h1{
	font-size: 12px;
	line-height: 18px;
	}
	.contents h2{
	font-size: 16px;
	line-height: 24px;
	}
	.main-content h1{
	font-size: 16px;
	line-height: 24px;	
	}
	.main-content p{
	font-size: 12px;
	line-height: 18px;
	}
	.introtext p{
	font-size: 16px;
	line-height: 24px;
	}
	.introtext {
	padding: 0vw 4vw 15vw 4vw;
	}
}